<div class="beer-container">
  <div class="row beer-info">
    <div class="col-md-8">
        <div class="beer-name">
          <h1><%= @beer.name %><h1>
        </div>
        <div class="beer-category">
          <h3><%= @beer.category.name %> from <%= @beer.brewery.name %></h3>
        </div>
        <div class="beer-description">
          <h4>Description:
            <span>"<%= @beer.description %>"</span>
        </div>
    </div>

    <div class="col-md-2 checkins-and-ratings">
      <div class="checkins">
        <h4>Checkins: <%= @beer.checkins.length %></h4>
      </div>
      <div class="ratings">
        <h4>Reviews: <%= @beer.ratings.length %> </h4>
      </div>
    </div>

    <div class="col-md-2 uniques-and-user-checkins">
      <div class="user-checkins">
        <h4>Your Checkins: <%= @beer.checkins_by_user(current_user) %> </h4>
      </div>
      <div class="average-rating">
        <h4>Average Rating: <%= @beer.average_rating %></h4>
      </div>
    </div>
  </div>

  <div class="row beer-stats">
    <div class="col-md-3 abv">
      ABV: <%= number_to_percentage(@beer.abv, precision: 2) %>
    </div>
    <div class="col-md-9" "current-user-rating">
      Your Rating: <% if @beer.rating_by_user(current_user) == nil %>
                    N/A
                  <% else %>
                    <%= @beer.rating_by_user(current_user).rating %>:
                    <%= @beer.rating_by_user(current_user).body %>
                  <% end %>
    </div>
  </div>

  <div class="breaker"></div>

  <div class="row find-beers">
    <div class="col-md-3">
      <h3>Find me at:</h3>
    </div>
    <% @beer.select_establishments.each do |e| %>
      <div class="col-md-3 beer-location">
        <span class="glyphicon glyphicon-map-marker"></span> <%= link_to e.name, establishment_path(e) %>
      </div>
    <% end %>
  </div>

  <div class="breaker"></div>

  <div class="row checkins">
    <%= button_to "Check In!", beer_checkins_path(@beer), method: :post, :class => "checkin-button" %>
  </div>
    <div class="row ratings">
      <h2>Review</h2>
    </div>
    <div class="row">
      <%= render "ratings/form" %>
    </div>

    <%= render "ratings/rating" %>
  </div>
</div>
