<% if @checkin.errors.any? %>
  <ul>
    <% @checkin.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

<%= simple_form_for [@beer, @checkin] do |f| %>
  <%= f.text_area :body, :size => "110x4" %>
  <%= f.input :rating %>
  <%= f.submit 'Check In!', :class => "submit-button" %>
<% end %>
